{% extends "base.html" %}

{% block extra-css %}
<link href='http://fonts.googleapis.com/css?family=Sue+Ellen+Francisco|Merriweather' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body-class %}home{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                <h1>Colin and Jennie's Wedding!</h1>
            </div>
        </div>
        <div class="row">
            <div class="span8">
                <img class="photo" src="{{ STATIC_URL }}img/colin-jennie-1.jpg">
            </div>
            <div class="span4 sub-content">
                <h2>RSVP</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn" href="#">View details &raquo;</a></p>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
